# Indexing and SQLite

In [1]:
import sqlite3

In [3]:
db = sqlite3.connect('IMDB.sqlite')
db

In [4]:
# new database 

db = sqlite3.connect('School.sqlite')
db

In [5]:
# create cursor object
cur = db.cursor()
cur

In [6]:
# create new table
sql_query = 'create table Student(RollNo int Primary Key,Name Text,Age int)'

# execute this query
cur.execute(sql_query)

In [8]:
cur.execute('Insert into Student values(101,"Aman",20)')

In [9]:
# refect change int database or dbbroweser
db.commit()

In [10]:
cur.execute('Insert into Student values(102,"Akash",21)')
db.commit()

In [11]:
# close connetiom
db.close()

In [13]:
cur.execute('Insert into Student values(102,"Akash",21)')
db.commit()

ProgrammingError: Cannot operate on a closed database.

### create Employe Table

In [17]:
db = sqlite3.connect('Employee.sqite')
cur = db.cursor()
cur.execute('create table EmployeeDetail(Employee_id int Primary Key, Name varchar(100), Age int, Department varchar(100), Salary int)')
db.commit()