# Indexing and SQLite

In [2]:
import sqlite3

In [3]:
db = sqlite3.connect('IMDB.sqlite')
db

In [4]:
# new database 

db = sqlite3.connect('School.sqlite')
db

In [5]:
# create cursor object
cur = db.cursor()
cur

In [6]:
# create new table
sql_query = 'create table Student(RollNo int Primary Key,Name Text,Age int)'

# execute this query
cur.execute(sql_query)

In [8]:
cur.execute('Insert into Student values(101,"Aman",20)')

In [9]:
# refect change int database or dbbroweser
db.commit()

In [10]:
cur.execute('Insert into Student values(102,"Akash",21)')
db.commit()

In [11]:
# close connetiom
db.close()

In [13]:
cur.execute('Insert into Student values(102,"Akash",21)')
db.commit()

ProgrammingError: Cannot operate on a closed database.

### Assignment create Employe Table

In [26]:
db = sqlite3.connect('Employee.sqlite')
cur = db.cursor()

In [ ]:
cur.execute('create table EmployeeDetail(Employee_id int Primary Key, Name varchar(100), Age int, Department varchar(100), Salary int)')
db.commit()

In [21]:
cur.execute('insert into EmployeeDetail values(100,"Rishav",25,"Marketing",50000),(101,"Abhishek",26,"Operation",60000),(102,"Rishav",24,"Human Resource",750000)')

db.commit()

In [30]:
cur.execute('delete from EmployeeDetail where Employee_id = 101')

db.commit()

#### ma'am

In [3]:
db = sqlite3.connect('School.sqlite')
cur = db.cursor()

In [36]:
cur.execute('Insert into Student values(103,"Abid",21)')
db.commit()

OperationalError: database is locked

In [28]:
# passing variable to query
roll = 105
name = "Achyut"
age = 20
cur.execute('Insert into Student values(?,?,?)',(roll,name,age))
db.commit()

OperationalError: database is locked

In [4]:
values = [(105,"Nidhi",20),(106,"Ayushi",21),(107,"Anshuman",20)]
cur.executemany('Insert into Student values(?,?,?)',values)
db.commit()

In [6]:
# update age column
cur.execute('update student set Age = 22')

In [7]:
db.commit()

In [9]:
cur.execute('update student set Age = 21 where RollNo = 102')

In [11]:
db.commit()

In [13]:
new_age = 15
cur.execute('update student set Age = ? where RollNo = 102',(new_age,))

In [14]:
db.commit()