# Indexing and SQLite

In [1]:
import sqlite3

In [3]:
db = sqlite3.connect('IMDB.sqlite')
db

In [4]:
# new database 

db = sqlite3.connect('School.sqlite')
db

In [5]:
# create cursor object
cur = db.cursor()
cur

In [6]:
# create new table
sql_query = 'create table Student(RollNo int Primary Key,Name Text,Age int)'

# execute this query
cur.execute(sql_query)

In [ ]:
curr.execute('Insert into Student values(101,"Aman",20)')