# Lecturer 3. Pattern

In [3]:
''' pattern 1
****
****
****
****
'''

n= int(input())
i = 1
while i <=n:
    j = 1
    while j <= n:
        print("*",end = " ")# by default end is "new line" but we fixrd it with "space"
        j += 1
    print()
    i += 1

4
* * * *
* * * *
* * * *
* * * *

#### Square Pattern

In [6]:
''' pattern 2 [Square Patterns 1]
1111
2222
3333
4444
'''
'''
row -> n
col -> n
print -> i
'''

n = int(input())
i = 1
while i <= n:
    j = 1
    while j <= n:
        print(i, end = " ")
        j += 1
    print()
    i += 1

4
1 1 1 1
2 2 2 2
3 3 3 3
4 4 4 4

In [7]:
''' pattern 3 [Square Patterns 2]
1234
1234
1234
1234
'''
'''
row -> n
col -> n
print -> j
'''
n = int(input())
i = 1
while i <= n:
    j = 1
    while j <= n:
        print(j,end =" ")
        j += 1
    print()
    i += 1

4
1 2 3 4
1 2 3 4
1 2 3 4
1 2 3 4

In [13]:
''' pattern 4 [Square Patterns 3]
4321
4321
4321
4321
'''
'''
row -> n
col -> n
print -> n-j+1
'''
n = int(input())
i = 1
while i <= n:
    j = n
    while j <= n:
        print(j,end = " ")
        j -= 1
        if j == 0:
            break;
    print()
    i += 1

5
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1

#### Triangular Pattern

In [14]:
''' pattern 5 [Triangular Patterns 1]
1
12
123
1234
'''
'''
row -> n
col -> i #[each col have ith element i.e 1have 1 elem  and 2nd row have 2 elem]
print -> 
'''
n = int(input())
i = 1
while i <= n:
    j = i
    while j <= i:
        print(j,end = " ")
        j += 1
    print()
    i += 1

4
1
2
3
4

In [ ]:
''' pattern 6 [Triangular Patterns 2]
1
23
345
4567
'''
'''
row -> n
col -> i
print -> 
'''

In [ ]:
''' pattern 7 [Triangular Patterns 3]
1
23
456
78910
'''
'''
row -> n
col -> i
print -> 
'''