# 12. Pandas

In [2]:
# pandas is great way to manipilate data 
import pandas as pd

In [5]:
# pandas has many diffrent read function
iris = pd.read_csv("Dataset/iris.data")
iris
print(type(iris))

<class 'pandas.core.frame.DataFrame'>

In [6]:
df  = iris.copy() # creating copy (non-linked) set

In [8]:
df.head()

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [10]:
print(df.shape)

(149, 5)

In [14]:
print(df.dtypes)

5.1            float64
3.5            float64
1.4            float64
0.2            float64
Iris-setosa     object
dtype: object

In [15]:
# change column headers

In [18]:
df.columns # change this to new entry's

Index(['5.1', '3.5', '1.4', '0.2', 'Iris-setosa'], dtype='object')

In [25]:
df.columns = ['sl','sw','pl','pw','flower_type'] # changed to new entries

In [27]:
print(df.dtypes)

sl             float64
sw             float64
pl             float64
pw             float64
flower_type     object
dtype: object

In [28]:
df.columns

Index(['sl', 'sw', 'pl', 'pw', 'flower_type'], dtype='object')

In [30]:
# describe -> it describe the data for us (shows valid value, it will not count invalid data i.e empty/NaN etc)
df.describe()

               sl          sw          pl          pw
count  149.000000  149.000000  149.000000  149.000000
mean     5.848322    3.051007    3.774497    1.205369
std      0.828594    0.433499    1.759651    0.761292
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.400000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

In [31]:
# in above 25%,or 50% or 75% are percentile not percentage (we have 25 percentage heigh compare to other)

In [40]:
# checking a particular column
df.sl 
# or
df["sl"]

0      4.9
1      4.7
2      4.6
3      5.0
4      5.4
      ...
144    6.7
145    6.3
146    6.5
147    6.2
148    5.9
Name: sl, Length: 149, dtype: float64

In [35]:
# some narrator
df.isnull()

        sl     sw     pl     pw  flower_type
0    False  False  False  False        False
1    False  False  False  False        False
2    False  False  False  False        False
3    False  False  False  False        False
4    False  False  False  False        False
..     ...    ...    ...    ...          ...
144  False  False  False  False        False
145  False  False  False  False        False
146  False  False  False  False        False
147  False  False  False  False        False
148  False  False  False  False        False

[149 rows x 5 columns]

In [37]:
df.isnull().sum() # how many null entries are present in each column

sl             0
sw             0
pl             0
pw             0
flower_type    0
dtype: int64

In [ ]:
# taking slice from set, access data from particulr set

In [38]:
df.iloc[1:4,2:4]

    pl   pw
1  1.3  0.2
2  1.5  0.2
3  1.4  0.2