# 12. Pandas

In [2]:
# pandas is great way to manipilate data 
import pandas as pd

In [5]:
# pandas has many diffrent read function
iris = pd.read_csv("Dataset/iris.data")
iris
print(type(iris))

<class 'pandas.core.frame.DataFrame'>

In [6]:
df  = iris.copy() # creating copy (non-linked) set

In [8]:
df.head()

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [10]:
print(df.shape)

(149, 5)

In [14]:
print(df.dtypes)

5.1            float64
3.5            float64
1.4            float64
0.2            float64
Iris-setosa     object
dtype: object

In [15]:
# change column headers

In [18]:
df.columns # change this to new entry's

Index(['5.1', '3.5', '1.4', '0.2', 'Iris-setosa'], dtype='object')

In [25]:
df.columns = ['sl','sw','pl','pw','flower_type'] # changed to new entries

In [27]:
print(df.dtypes)

sl             float64
sw             float64
pl             float64
pw             float64
flower_type     object
dtype: object

In [28]:
df.columns

Index(['sl', 'sw', 'pl', 'pw', 'flower_type'], dtype='object')

In [30]:
# describe -> it describe the data for us (shows valid value, it will not count invalid data i.e empty/NaN etc)
df.describe()

               sl          sw          pl          pw
count  149.000000  149.000000  149.000000  149.000000
mean     5.848322    3.051007    3.774497    1.205369
std      0.828594    0.433499    1.759651    0.761292
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.400000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

In [31]:
# in above 25%,or 50% or 75% are percentile not percentage (we have 25 percentage heigh compare to other)

In [40]:
# checking a particular column
df.sl 
# or
df["sl"]

0      4.9
1      4.7
2      4.6
3      5.0
4      5.4
      ...
144    6.7
145    6.3
146    6.5
147    6.2
148    5.9
Name: sl, Length: 149, dtype: float64

In [35]:
# some narrator
df.isnull()

        sl     sw     pl     pw  flower_type
0    False  False  False  False        False
1    False  False  False  False        False
2    False  False  False  False        False
3    False  False  False  False        False
4    False  False  False  False        False
..     ...    ...    ...    ...          ...
144  False  False  False  False        False
145  False  False  False  False        False
146  False  False  False  False        False
147  False  False  False  False        False
148  False  False  False  False        False

[149 rows x 5 columns]

In [37]:
df.isnull().sum() # how many null entries are present in each column

sl             0
sw             0
pl             0
pw             0
flower_type    0
dtype: int64

In [ ]:
# taking slice from set, access data from particulr set

In [38]:
df.iloc[1:4,2:4]

    pl   pw
1  1.3  0.2
2  1.5  0.2
3  1.4  0.2

### Manupliate Data In DataFrame

In [41]:
df.head()

    sl   sw   pl   pw  flower_type
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [43]:
# remove some row
df.drop(0)
df.head() # 0th row not removed

    sl   sw   pl   pw  flower_type
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [46]:
# drop by lables
df.drop(0,inplace = True) # by default inplace id false so turn it into True
df.head() # so it remove 0 ffrom all dataset do we need to rearrange the data

    sl   sw   pl   pw  flower_type
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa
5  4.6  3.4  1.4  0.3  Iris-setosa

In [47]:
df.index

Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
            ...
            139, 140, 141, 142, 143, 144, 145, 146, 147, 148],
           dtype='int64', length=148)

In [48]:
# drop by index
df.index[0],df.index[3]

(1, 4)

In [50]:
df.drop(df.index[0],inplace = True) # remove 0th index that is lable 1
df.head()

    sl   sw   pl   pw  flower_type
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa
5  4.6  3.4  1.4  0.3  Iris-setosa
6  5.0  3.4  1.5  0.2  Iris-setosa
7  4.4  2.9  1.4  0.2  Iris-setosa

In [51]:
df.sl > 5 # condtion checking

3      False
4       True
5      False
6      False
7      False
       ...
144     True
145     True
146     True
147     True
148     True
Name: sl, Length: 146, dtype: bool

In [52]:
df[df.sl > 5] # codition crospondance value

      sl   sw   pl   pw     flower_type
4    5.4  3.9  1.7  0.4     Iris-setosa
9    5.4  3.7  1.5  0.2     Iris-setosa
13   5.8  4.0  1.2  0.2     Iris-setosa
14   5.7  4.4  1.5  0.4     Iris-setosa
15   5.4  3.9  1.3  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[117 rows x 5 columns]

In [54]:
df[df.flower_type == 'Iris-virginica'].describe() # v.imp data

             sl         sw         pl        pw
count  50.00000  50.000000  50.000000  50.00000
mean    6.58800   2.974000   5.552000   2.02600
std     0.63588   0.322497   0.551895   0.27465
min     4.90000   2.200000   4.500000   1.40000
25%     6.22500   2.800000   5.100000   1.80000
50%     6.50000   3.000000   5.550000   2.00000
75%     6.90000   3.175000   5.875000   2.30000
max     7.90000   3.800000   6.900000   2.50000