# 12. Pandas

In [2]:
# pandas is great way to manipilate data 
import pandas as pd

In [5]:
# pandas has many diffrent read function
iris = pd.read_csv("Dataset/iris.data")
iris
print(type(iris))

<class 'pandas.core.frame.DataFrame'>

In [6]:
df  = iris.copy() # creating copy (non-linked) set

In [8]:
df.head()

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [10]:
print(df.shape)

(149, 5)

In [14]:
print(df.dtypes)

5.1            float64
3.5            float64
1.4            float64
0.2            float64
Iris-setosa     object
dtype: object

In [15]:
# change column headers

In [18]:
df.columns # change this to new entry's

Index(['5.1', '3.5', '1.4', '0.2', 'Iris-setosa'], dtype='object')

In [25]:
df.columns = ['sl','sw','pl','pw','flower_type'] # changed to new entries

In [27]:
print(df.dtypes)

sl             float64
sw             float64
pl             float64
pw             float64
flower_type     object
dtype: object

In [28]:
df.columns

Index(['sl', 'sw', 'pl', 'pw', 'flower_type'], dtype='object')